<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<style type="text/css">
html,body{height:100% !important;width:100% !important}
html,body,main{margin:0 auto !important;padding:0 !important;font:300 18px Verdana,sans-serif;color:#ccc;background:#2a2a2a;line-height:1.75}
main{display:block;padding:48px 16px;max-width:50ch}
a[href]{font-weight:800;display:inline-block;color:#1b75be}
p{display:block;padding:0 !important;margin:0 !important;min-height:16px}
p>i{font-size:16px}
</style>
</head>
<body>
<main>
<p>Bonjour {{first_name}},
<p>
<p>Vous avez demandé la création d'identifiants pour le site du club d'escalade <b>Pierre Blanche</b>.
<p style="font-size:24px"><a href="">Cliquez ici</a> pour terminer la vérification de votre adresse email et continuer la créer ces identifiants.
<p>
<p>
<p><i>Ce lien expire 15 minutes après l'envoi de ce message.</i>
</main>
</body>
</html>