<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<style type="text/css">
html,body{height:100% !important;width:100% !important}
html,body,main{margin:0 auto !important;padding:0 !important}
main{display:block;padding:48px 16px;max-width:50ch}
</style>
</head>
<body>
<main style="color:#ccc;background:#2a2a2a;font-weight:300;font-size:16px;line-height:1.75;padding:48px 16px;max-width:480px">
<p>Bonjour {{user.first_name}},
<p style="min-height:16px">
<p>Vous avez demandé la création d'identifiants pour le site du club d'escalade <b>Pierre Blanche</b>.
<p style="font-size:24px"><a style="font-weight:800;display:inline-block;color:#1b75be" href="{{url_link}}">Cliquez ici</a> pour terminer la vérification de votre adresse email et continuer la créer ces identifiants.
<p style="min-height:16px">
<p style="min-height:16px">
<p style="font-size:13px"><i>Ce lien expire 15 minutes après l'envoi de ce message.</i>
</main>
</body>
</html>