<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<style type="text/css">
html,body{height:100% !important;width:100% !important}
html,body,main{margin:0 auto !important;padding:0 !important}
main{display:block;padding:48px 16px;max-width:50ch}
</style>
</head>
<body>
<main style="color:#ccc;background:#2a2a2a;font-weight:300;font-size:16px;line-height:1.75;padding:48px 16px;max-width:480px">
<p style="font-size:16px">Bonjour {{user.first_name}},
<p style="font-size:16px">Votre demande de compte pour le site du club d'escalade <b>Pierre Blanche</b> a été acceptée.
<p style="font-size:16px"><a style="font-weight:800;display:inline-block;color:#1b75be" href="{{link_url}}">Cliquez ici</a> pour y accèder.
<p style="min-height:16px">Une fois sur la page de connexion, utilisez le lien <i>Recevoir un lien de connexion par email</i>.
</main>
</body>
</html>