<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<style type="text/css">
html,body{height:100% !important;width:100% !important}
html,body,main{margin:0 auto !important;padding:0 !important}
main{display:block;padding:48px 16px;max-width:50ch}
</style>
</head>
<body>
<main style="color:#ccc;background:#2a2a2a;font-weight:300;font-size:16px;line-height:1.75;padding:48px 16px;max-width:480px">
<p>Bonjour {{user.first_name}} {{user.last_name}},
<p>Vous avez demandé un lien de connexion temporaire pour le site du club d'escalade <b>Pierre Blanche</b>.
<p><a target="_new" style="font-weight:800;display:inline-block;color:#1b75be" href="{{link_url}}">Cliquez ici</a> pour y accèder,
ou copier/coller cette adresse dans votre navigateur : {{link_url}}
<p><i>Ce lien expire 15 minutes après l'envoi de ce message et il ne peut être utilisé qu'une seule fois.</i>
</main>
</body>
</html>